<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/team.css" />
    <title>Chicha - Our Team</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
</head>
<body >
    <header style="background-color: black;">
        <div class="bot-name">Chicha</div>
        <nav>
            <ul class="nav-links">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/team" class="nav-link active">Team</a></li>
                <li><a href="/about" class="nav-link">About Us</a></li>
                <li><a href="/contact" class="nav-link">Contact Us</a></li>
            </ul>

        </nav>
    </header>

    <section class="hero">
        <div id="particles-js"></div>
        <div class="hero-content">
            <h1 class="glitch" data-text="Transforming Conversations with AI">Transforming Conversations with AI</h1>
            <p class="typewriter">Meet the team behind our intelligent AI-powered chatbot.</p>
            <a href="#project-overview" class="cta-button" id="learnMoreButton">Learn More</a>
        </div>
    </section>

    <section id="project-overview" class="project-overview">
        <div class="overview-content">
            <h2 class="neon-text">Our Vision</h2>
            <p class="futuristic-text">Our AI-powered chatbot is designed to revolutionize human-computer interaction by offering seamless, intelligent conversations. Whether you need assistance, answers, or just someone to chat with, our chatbot is always ready to help—powered by cutting-edge technology from OpenAI.</p>
        </div>
    </section>

    <main id="team-section" class="team-container">
        <div class="team-heading">
            <h1>Our Team</h1>
        </div>
        <div class="team-member">
            <div class="member-left">
                <div class="member-photo">
                    <img src="images/sai.jpg" alt="Team Member 1">
                </div>
                <h2>L.Sai Sri Kumar</h2>

                <h3>Lead Developer</h3>
            </div>
            <div class="member-info">
                <p class="developer-text">I'm a <span id="demo"></span></p>
                <p class="description">Sai spearheaded the development of the AI-powered chatbot - Chicha, leveraging his expertise in full-stack development to ensure a seamless integration between the front-end interface and GenerativeAI's API. He designed the Home Page, focusing on user-friendly navigation and intuitive design, allowing users to easily understand the Chicha's capabilities. Sai also played a key role in setting up the GenerativeAI's API connection, ensuring real-time responses and smooth user interaction.</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/saisrikumar940/" target="_blank"><img src="images/instagram-icon.png" alt="Instagram"></a>

                    <a href="https://www.linkedin.com/in/sai-sri-kumar-864250291/" target="_blank"><img src="images/linkedin-icon.png" alt="LinkedIn"></a>
                    <a href="https://x.com/SaiSrikumar3" target="_blank"><img src="images/twitter-icon.png" alt="Twitter"></a>

                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-info-right">
                <p class="developer-text">I'm a <span>Developer</span></p>
                <p class="description">Bindu is responsible for creating the Login and Sign-Up pages, ensuring secure authentication and user data storage. She implemented robust backend logic using technologies such as Node.js and Express.js to handle user sessions, password encryption, and validation. Her work on integrating user management with the chatbot interface made sure that users had a personalized and secure experience. She also managed the GenerativeAI API key configuration to ensure secure communication between the chatbot and the AI model.</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/baby_eyes_killer____/" target="_blank"><img src="images/instagram-icon.png" alt="Instagram"></a>
                    <a href="https://www.linkedin.com/in/dumavathu-bindu-madhavi-bai-624a26319/" target="_blank"><img src="images/linkedin-icon.png" alt="LinkedIn"></a>
                    <a href="#" target="_blank"><img src="images/twitter-icon.png" alt="Twitter"></a>
                </div>
            </div>

            <div class="member-right">
                <div class="member-photo">
                    <img src="images/bindu.jpg" alt="Team Member 2">
                </div>
                <h2>D.Bindu Madhavi Bai</h2>
                <h3>Backend Developer</h3>
            </div>
        </div>

        <div class="team-member">
            <div class="member-left">
                <div class="member-photo">
                    <img src="images/sandhya.jpg" alt="Team Member 3">
                </div>
                <h2>J.Sandhya</h2>
                <h3>UI/UX Developer</h3>
            </div>
            <div class="member-info">
                <p class="developer-text">I'm a <span>Designer</span></p>
                <p class="description">Sandhya led the design of the Chat Interface, focusing on user interaction and experience. She designed the interface to be visually appealing and simple to navigate, creating a clean chat environment that allows for natural and engaging conversations. She carefully planned the placement of features like message input, display of chat history, and chatbot prompts to ensure users could easily interact with the AI. Sandhya's keen attention to detail in UX ensured that the chatbot felt intuitive and responsive to user needs.</p>
                <div class="social-links">
                    <a href="#" target="_blank"><img src="images/instagram-icon.png" alt="Instagram"></a>
                    <a href="https://www.linkedin.com/in/sandhya-janga-0a4303293/" target="_blank"><img src="images/linkedin-icon.png" alt="LinkedIn"></a>
                    <a href="#" target="_blank"><img src="images/twitter-icon.png" alt="Twitter"></a>
                </div>
            </div>

        </div>
    </main>

    <script src="js/team.js"></script>
</body>
</html>